﻿/*color*/
/*HTML TAGS*/
body {
  padding-top: 80px;
  /*!!! SAME AS NAV*/
  /*padding-bottom: 20px;*/
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
  white-space: normal;
}
/**ICONS*/
.icon {
  padding: 0 10px 0 5px;
}
/*BOOTSTRAP*/
/*NAVBAR*/
.navbar-inverse {
  background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #16a085;
}
/*LOGIN VIEW*/
@media all and (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}
/*PARALLAX CLASS*/
.parallax-background {
  height: 750px;
  width: 100%;
  background: #ecf0f1;
  background-attachment: fixed;
  z-index: 1;
}
.parallax-content {
  height: 750px;
  background: #ecf0f1;
  z-index: 3;
}
/*HOME SECTION*/
/*ABOUT SECTION*/
/*LOGIN SECTION*/