﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right text-center" id="menu">
                    <li class="active"><a href="@Url.Action("","")">HOME</a></li>
                    <li><a href="@Url.Action("","")">ABOUT</a></li>

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Login","Account")">LOGIN</a></li>
                    }
                    else
                    {
                        <!-- Default skin  -->
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span class="icon fui-home"></span>
                                @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="icon fui-user"></span>Profile</a></li>
                                <li><a href="#"><span class="icon fui-list-bulleted"></span>Projects</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("LogOff","Account")"><span class=" icon fui-exit"></span>Logout</a></li>
                            </ul>
                        </li>
                        
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flat-ui")
    @Scripts.Render("~/bundles/pencil-js")
    @RenderSection("scripts", required: false)
</body>
</html>

