﻿@using Pencil.model.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<script>
    $(document).load(function () {
        $(':checkbox').radiocheck('toggle');
    });
</script>



<div class="row">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-offset-4">
            <div class="text-center">
                <img class="" src="~/Content/img/logo/project_logo_400x400.png" />
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-lg btn-primary" style="display:inline-block" />
                        <label class="checkbox  pull-right">
                            @Html.CheckBoxFor(m => m.RememberMe, new { data_toggle = "checkbox" })
                            @Html.LabelFor(m => m.RememberMe)
                        </label>
                      
                </div>
                @*Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
            <div class="text-center">

                <h2>or</h2>


                <a href="@Url.Action("Register", "Account")">
                    <h1>REGISTER</h1>
                </a>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
