﻿<section id="home-section-001">
    <div class="container-fluid">
            <div class="jumbotron text-center">
                <h2>Hello World</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, suavitate expetendis definiebas in has, cum veri insolens cu. Has ne mentitum recusabo. Cu ius elit invenire. Eros movet partem ut est. Illum explicari ius cu, semper perfecto persecuti sed ut, nec in clita salutandi patrioque.
                </p>
            </div>
    </div>
    <article>
        <div class="container">
            <div class="row" id="pricing">
                <div class="col-md-4 text-center">
                    <h3>Pricing 1</h3>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, suavitate expetendis definiebas in has, cum veri insolens cu. Has ne mentitum recusabo. Cu ius elit invenire. Eros movet partem ut est. Illum explicari ius cu, semper perfecto persecuti sed ut, nec in clita salutandi patrioque.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Pricing 2</h3>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, suavitate expetendis definiebas in has, cum veri insolens cu. Has ne mentitum recusabo. Cu ius elit invenire. Eros movet partem ut est. Illum explicari ius cu, semper perfecto persecuti sed ut, nec in clita salutandi patrioque.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Pricing 3</h3>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, suavitate expetendis definiebas in has, cum veri insolens cu. Has ne mentitum recusabo. Cu ius elit invenire. Eros movet partem ut est. Illum explicari ius cu, semper perfecto persecuti sed ut, nec in clita salutandi patrioque.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section> 